* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/image6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.container {
    background: linear-gradient(145deg, #1b85a0, #1e90a5);
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
    color: white;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
}

.header button {
    background-color: #6bafc0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.header button:hover {
    background-color: #5fa2b3;
}

/* edit/delete buttons */
.edit-btn, .delete-btn {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #89d38b;
    color: white;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #ff7c72;
    color: white;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #e53935;
}

/* search */
.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#6bafc0;
    color: white;
    font-size: 16px;
}

/* contacts list */
.contact-list {
    max-height: 400px;
    overflow-y: scroll;
    width: 100%;
}   

/* custom stuff */
.contact-list::-webkit-scrollbar {
    width: 12px;  /* Width of the scrollbar */  
}

.contact-list::-webkit-scrollbar-track {
    background: #1e90a5; /* Background of the scrollbar track */
    border: 1px solid #cccccc34;
    border-radius: 5px;
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: #ffe4e4; /* Scrollbar thumb (the draggable part) */
    border-radius: 5px;  /* Round the corners */
}

.contact-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}

.contact-list table {
    width: 100%;
    border-collapse: collapse;  
    table-layout: fixed;
}

.contact-list th, .contact-list td {
    padding: 15px; 
    text-align: center;
    border-bottom: 1px solid #6bafc0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-list th {
    background-color: #6bafc0;
    color: white;
    text-align: center;
}

.contact-list td {
    color: white;
}

/* logout */
.logout-btn{
    background-color: #6bafc0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    bottom: 20px;
    left: 20px;
    margin-top: 10px;
}

.logout-btn:hover {
    background-color: #e53935;
}    

/* hide popups initially */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.3 ease, box-shadow 0.3s ease; /* Hover effect */
}

.popup button {
    width: 70%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: poiner;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

.popup button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.popup:hover {
    transform: translateY(-5x);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

/* show popup when class is used */
.popup.active {
    display: block;
}

.popup-content {
    color: black;
}

.popup-content h2 {
    margin-bottom: 15px;
}

/* input group for popup */
label {
    display: block;
    color: #34495e;
    font-weight: 575;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 70%;
    padding: 12px;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    background-color: #ecf0f1;
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
}

input:focus {
    border-color: #3498db;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.popup .close:hover{
    color: #e53935;
}

/* popup overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

/* shows overlay when class is used */
.popup-overlay.active {
    display: block;
}

