* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0a2e6d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0d3a8a;
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
}

.header button {
    background-color: #1c54cf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.header button:hover {
    background-color: #3765d1;
}

/* edit/delete buttons */
.edit-btn, .delete-btn {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #4caf50;
    color: white;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #e53935;
}

/* search */
.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1c54cf;
    color: white;
    font-size: 16px;
}

/* contacts list */
.contact-list table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.contact-list th, .contact-list td {
    padding: 15px; 
    text-align: center;
    border-bottom: 1px solid #2857a8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-list th {
    background-color: #1c54cf;
    color: white;
    text-align: center;
}

.contact-list td {
    color: white;
}

/* logout */
.logout-btn{
    background-color: #1c54cf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    bottom: 20px;
    left: 20px;
    margin-top: 10px;
}

.logout-btn:hover {
    background-color: #3765d1;
}    

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Overlay effect */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}